<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\cocosProject\MyGame\runtime\win32\MyGame.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\cocosProject\MyGame\runtime\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>